[user]
	email = gabriel@dicksonlabs.com
	name = Gabriel M Deal
[core]
	excludesfile = /home/gabrielx/.gitignore_global
## Arg!  There is no way to configure a different pager just for diff
## Can use this for now: git diff --color |diff-highlight
#	pager = /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less

## This will screw up magit-diff
#[color]
#	ui = always

[push]
	default = simple
[pager]
	diff = false
[diff]
	# This doesn't seem to work in git 2.7.1 like it did in my previous version:
	wordRegex = "[a-zA-Z0-1_-]+"
