# To validate:
# desktop-file-validate ~/.local/share/applications/*.desktop

[Desktop Entry]
Version=1.0
Type=Application
Name=emacs@gabrielx-laptop huddle CentOS
Icon=emacs
Path=/home/gabrielx/projects/oss/puppet_modules
Exec=vagrant ssh client1 -- -f /home/vagrant/local/bin/run-in /home/vagrant/projects/oss/huddle emacs
StartupNotify=false
StartupWMClass=Emacs
OnlyShowIn=Unity;
X-UnityGenerated=true
