[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox 10
Icon=firefox
Path=/home/gabrielx/Downloads
Exec="/home/gabrielx/local/firefox-v10/firefox --no-remote -P 'Firefox 10'"
StartupNotify=false
StartupWMClass=Firefox
OnlyShowIn=Unity;
X-UnityGenerated=true
